// Landing Page

.highlight-box {
 // height: 70px;
  background-color: $light-green;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.top-bar{
  img{
    margin-right: 10px;
  }
}

.top-bar {
  img{
    margin-top:rem-calc(7);
    margin-left: 20px;
  }
}

p {
  font-family: $copy-font;
  font-size: 12pt;
}

#sign-in-modal, #sign-up-modal {
  p {
    font-family: $main-font;
  }
  .required {
    border-left: 5px solid $brand-green;
  }
}

.hero { 
    background: url("../img/landing_hero.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    padding-top: 200px;
    height: 450px;
    color: white;
    h1 {
      color: white;
      vertical-align: middle;
    }
}

.landing-campaign{
  h1, h2, h3, h4, h5 {
    margin: 0px;
    font-family: $main-font;
  }
  .org_name {
  font-weight: 200;
  font-size: 14pt;
  line-height: 1.2;
  margin-bottom: 5px;
  }
  p {
  margin-bottom: 0px;
  font-family: $main-font;
  }
  img {
    margin-bottom: 10px;
  }
  .camp-title {
    font-weight: 600;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .highlight-head {
    font-weight: 600;
  }
  .highlight-unit {
    font-weight: 400;
  }
  h5 {
    margin-top: 10px;
    font-weight: 200;
  }
  .progress {
    margin-bottom: 5px;
  }
}

.featured{
  margin-top: 20px;
  margin-bottom: 20px;
}

div.reason {
  border: .5px solid white;
}

.benefits {
 margin-top: 20px;
  background-color: #40A9DF;
 
  p {
    color: white;
  }
  h2 {
    color: white;
  }
  h4 {
    color: white;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.impact { 
    padding-top: 40px;
    background: url("../img/impact_image.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    color: white;
    h2 {
      color: white;
    }
}

#footer-logo {
  margin-top: 20px;
}

.footer {
  .row {
    margin-top: 20px;
    ul{
      li{
        list-style-type: none;
      }
    }
    }
  }

  //Campaign Page