%main-font-semi {
  font-family: $main-font;
  font-weight: 600;
}

%main-font-semi-white {
  font-family: $main-font;
  font-weight: 600;
  color: white;
}

%main-font-light{
  font-family: $main-font;
  font-weight: 300;
}

%main-font-light-white{
  font-family: $main-font;
  font-weight: 300;
  color: white;
}

%main-font {
  font-family: $main-font;
  font-weight: 400;
}

@mixin hollow-buttons ($color) {
    border: 1px solid $color;
    background-color: white;
    @extend %main-font-light;
    color: $color;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    &:hover {
        background-color: $color;
        color: white;
    }
}

@mixin custom-buttons ($color-main, $color-sec){
    background-color: $color-main;
    @extend %main-font-light;
    color: $color-sec;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    &:hover {
        background-color: darken($color-main, 10);
        color: $color-sec;
    }
}

@mixin feed-item-styles($color) {
  background: $color;
  margin-bottom: 20px;
  img {
    margin: 10px;
  }
  h4 {
    margin-top: 20px;
  }
  h5 {
    margin-right: 10px;
    margin-top: 25px;
  }

  h6{
    margin-top: 10px;
  }
  .days {
    @extend %main-font-light;
    margin-top: 25px;
    margin-right: 10px;
  }
  a {
    font-family: $main-font;
    margin-right: 10px;
  }
  p {
      margin: 0px 10px 0px 10px;
  }
}

@mixin donation-item-styles($color) {
  background: $color;
  margin-bottom: 10px;
    margin-top: 10px;
  img {
    margin: 10px;
  }
  h4 {
    margin-top: 20px;
  }
  h5 {
    margin-right: 10px;
    margin-top: 5px;
  }

  h6{
    margin-top: 10px;
  }
  .days {
    @extend %main-font-light;
    margin-top: 25px;
    margin-right: 10px;
  }
  a {
    font-family: $main-font;
    margin-right: 10px;
  }
    P{
        margin: 5px;
    }
}

// Landing Page

.highlight-box {
    height: 106px;
    background-image: linear-gradient(-50deg, #37B048 0%, #59CF65 99%);
//  background-color: $light-green;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.top-bar{
  img{
    margin-right: 10px;
  }
}

.top-bar {
  img{
    margin-top:rem-calc(7);
    margin-left: 20px;
  }
}

p {
  font-family: $copy-font;
  font-size: 12pt;
}

#sign-in-modal, #sign-up-modal {
  p {
    font-family: $main-font;
  }
}

input.required{
    border-left: 5px solid $brand-green;
}

.hero {
    background: url("../img/landing_hero.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    padding-top: 200px;
    height: 450px;
    color: white;
    h1 {
      color: white;
      vertical-align: middle;
    }
}

.browse-hero{
    background: url("../img/browse-hero.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    padding-top: 200px;
    height: 450px;
    color: white;
    h1 {
      color: white;
      vertical-align: middle;
    }
    p {
        font-size: 20px;
    }
    
}

.landing-campaign{
  h1, h2, h3, h4, h5 {
    margin: 0px;
    font-family: $main-font;
  }
  .org_name {
  font-weight: 200;
  font-size: 14pt;
  line-height: 1.2;
  margin-bottom: 5px;
  }
  p {
  margin-bottom: 0px;
  font-family: $main-font;
  }
  img {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 0 auto;
  }
  .camp-title {
    font-weight: 600;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .highlight-head {
    font-weight: 600;
  }
  .highlight-unit {
    font-weight: 400;
  }
  h5 {
    margin-top: 10px;
    font-weight: 200;
  }
  .progress {
    margin-bottom: 5px;
  }
}

.featured{
  margin-top: 20px;
  margin-bottom: 20px;
}

div.reason {
  border: .5px solid white;
}

.benefits {
 margin-top: 20px;
 background-color: $brand-blue;

  p {
    color: white;
  }
  h2 {
    color: white;
  }
  h4 {
    color: white;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  img {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.impact {
    padding-top: 40px;
    background: url("../img/impact_image.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    color: white;
    h2 {
      color: white;
    }
    @media screen and (max-width: 500px){
          background: url("../img/browse-hero.png") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 450px;
            color: white;  
            padding-top: 150px;
    }
}

#footer-logo {
  margin-top: 20px;
}

.footer {
    background-color: #4A4A4A;
    color: whitesmoke;
    padding-top: 10px;
  .row {
    margin-top: 20px;
    ul{
      li{
        list-style-type: none;
              @media screen and (max-width: 500px){
                display: inline;
                  margin-right: 5px;
    }
      }
    }
    }

  }

  //Campaign Page

.campaign-hero {
    background: url("../img/camp-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px -100px;
    padding-top: 300px;
    height: 500px;
    color: white;
    h3 {
      color: white;
    }
    p {
      font-family: $main-font;
      font-size: 14pt;
      font-weight: 400;
      line-height: 18pt;
    }
}

// campaign page

.camp-info-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $light-gray;

  select {
    margin-top: 1px;
  }
  h2, h3, h4, h5, h6{
    margin: 0px;
    @extend %main-font;
    font-weight: 600;
    display: inline;
  }
  h6 {
    font-size: 12pt;
  }
  .goal{
    font-weight: 600;
  }
  .highlight-head {
    margin: 0;
    @extend %main-font-semi-white;
  }
  .highlight-unit{
    @extend %main-font-light-white;
  }
  .highlight-box{
    margin-top: 25px;
    h2{
      color: white;
    }
  }
  .days-remaining {
    @extend %main-font-light;
    p {
      font-size: 12pt;
      line-height: 12pt;
    }
  }
  p{
    font-family: $main-font;
  }
}

div.selection-box {
  border-left: 1px solid $brand-green;
  padding-left: 10px;
  padding-right: 10px;
}

.org-side-bar {
  background-color: $light-yellow;
}

div.seed-donation-side {
  border: .5px solid black;
}



// Comment Tab

.feed-item-comment {
  @include feed-item-styles($gray);
}

.item-donation {
    @include donation-item-styles($light-green);
}

.feed-item-donation {
  @include feed-item-styles($light-green);
}

.feed-item-update {
  @include feed-item-styles($light-yellow);
}

.comment {
  margin-top: 10px;
  margin-bottom: 5px;
}

// Campaign Creation
.create-campaign-progress {
  background-color: $gray;
  height: 55px;
  p{
    @extend %main-font-light-white;
    margin-top: 15px;
    margin-bottom: 12px;
  }
  .step{
    background-color: $brand-blue;
  }
  .not-done{
    background-color: $gray;
  }
}

.button-white {
  background-color: $white;
  color: $brand-blue;
  font-weight: 400;
}

.not-selected {
  @include button($padding: 10, $bg: $gray);
  height: 120px;
  width: 120px;
  padding-top: 45px;
  color: white;
  margin-right: 10px;
}

.campaign-form {
  li {
    display: inline;
    list-style-type: none;
    margin-left:0;
  }
}

.upload-box {
  border: 2px dashed black;
  height: 150px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.thumb {
  border: 2px dashed black;
  width: 25%;
  height: 75px;
  margin: 10px;
}

ul.thumb-list {
  li {
  display: inline;
  }
}

.name {
  list-style-type: none;
}

.camp-create-nav {
  border-bottom: 1px solid black;
}

// .cancel {
//   border: 1px solid black;
// }

textarea.required {
  height: 150px;
  border-left: 5px solid $brand-green;
}

.need-calc {
  background-color: $light-yellow;
  padding: 20px;
}

.create-camp-content {
  margin-top: 30px;
}

.funds-receiver {
  height: 150px;
  background-color: lighten($brand-green, 30%);
  text-align: center;
  line-height: 150px;
  color: white;
  &:hover{
    background-color: $brand-green;
  }
}

#notifications-icon
  img {
    margin: 5px;
  }

#avatar {
  padding-left: 10px;

  img {
    margin-left: 0px;
    margin-top: -3px;
  }
}

.user-dash-info {
    padding-top: 50px;
    padding-bottom: 40px;
    p {
        @extend %main-font-light;
        line-height: 1.3;
        color: gray;
    }
    h3 {
        color: gray;
        padding-top: 25px;
    }
    h5{
        margin-top: 10px;
        color: $brand-blue;
        margin-bottom: 0px;
    }
    #user-location{
        margin-top: 5px;
        color: $brand-blue;
    }
}

.returning {
    h3, p{
        color: $brand-blue;
    }
}

.dashboard {
    p {
        margin-bottom: 10px;
    }
}

.active-campaigns, .pending-campaigns{
    h4 {
        line-height: 1;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    p{
        @extend %main-font-light;
        font-size: 14px;
        line-height: 1;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h5 {
        @extend %main-font;
        font-size: 18px;
    }
    h3{
        font-size: 24px;
        margin: 0px;
    }
    h6 {
        @extend %main-font-semi;
        font-size: 14px;
        margin: 0px;
    }
    .progress {
        margin: 0px;
    }
    padding-bottom: 20px;
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
}

.completed-campaigns{
    h4 {
        line-height: 1;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    p{
        @extend %main-font-light;
        font-size: 18px;
        line-height: 1;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h5 {
        @extend %main-font;
        font-size: 18px;
    }
    h3{
        font-size: 24px;
        margin: 0px;
    }
    h6 {
        @extend %main-font-semi;
        font-size: 14px;
        margin: 0px;
    }
    .progress {
        margin: 0px;
    }
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.donation-card {
    border: 1px solid black;
    padding: 10px 8px 8px 8px;
    h5{
        line-height: 1.1;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        @extend %main-font-light;
        line-height: 1;
        margin-bottom: 5px;
    }
    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $brand-green;
    }
}

.hollow-green {
    @include hollow-buttons($brand-green);
}

.hollow-blue {
    @include hollow-buttons($brand-blue);
}

.hollow-black {
    @include hollow-buttons(black);
}

.manage-nav{
    height: 60px;
    background-color: $brand-green;
    h6{
        margin-top: 20px;
        @extend %main-font;
        color: white;
    }
    .nav-head-active {
        .columns{
            background-color: white;
            height: 60px;
        }
        h6{
            color: $brand-green;
        }
    }
}

.manage-header {
    background-color: white;
    h4{
        margin-top: 10px;
        color: $brand-blue;
    }
    .back-button{
        width: 30%;
    }
    .manage-buttons{
        width: 40%;
        display: inline-block;
    }
}

.manage-hero{
    background: url("../img/manage-hero.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    height: 275px;
    color: white;
    h3{
        color: white;
        margin-top: 100px;
    }
    h5{
        @extend %main-font;
        color: white;
    }
    p {
        @extend %main-font-light;
        color: white;
        font-size: 18px;
    }
    .button-block{
        margin-top: 100px;
    }
}

.custom-blue {
    @include custom-buttons($brand-blue, white);
    width: 45%;
    display: inline-block;
    &.full {
        width: 100%;
        margin: 0px;
    }
}

.custom-white-blue {
    @include custom-buttons(white, $brand-blue);
    width: 45%;
    display: inline-block;
}

.custom-white-green {
    @include custom-buttons(white, $brand-green);
    width: 40%;
    display: inline-block;
}

.tabs-content{
    background-color: white;
}

.manage-donations {
    .hollow-blue{
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .row {
//        margin-top:10px;
    }
}

.results {
    margin-bottom: 30px;
}

input{
   text-align:center;
    &.browse-search{
        border:2px solid $brand-green;
        height: 50px;
        width: 60%;
        margin: 0px auto 0px auto;
        font-size: 24px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.4);
        color: $brand-green;
    }
}

.causes li{
    height: 150px;
    display: inline-block;
    margin: 5px;
    width: 150px;
    padding-top: 70px;
    background-color: $light-gray;
    &:hover {
        background-color: $light-green;
        color: white;
        transition: background-color .5s;
    }
}

.categories {
    h3 {
        margin: 20px 0 20px 0;
    }
}