$copy-font: "Abril Text", serif;
$brand-blue: #40A9DF;
$main-font: "Gibson";
$light-green: #3EB449;

.highlight-box {
 // height: 70px;
  background-color: $light-green;
  font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-family: $copy-font;
}

.benefits {
  background-color: $brand-blue;
  p {
    color: white;
  }
}

.org_name {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14pt;
}

h2 {
  .benefits & {
    color: white;
  }
}